.container{
    margin: auto;
    width: 50%;
    min-width: 920px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container_header {
    margin: auto;
    width: 50%;
    min-width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.table{
    margin: auto;
    width: 50%;
    min-width: 920px;
    padding: 10px;
    border-collapse: collapse;
}
.table_title{
    width: fit-content;
}
.table_responsive{
    width: fit-content;
    margin-top:45px ;
    margin-right: 50px;
}

.table_add{
    margin-top: 10px;
    background-color: #016001;
    width: auto;
    border: 0px solid white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}
.table_add:hover{
    background-color: #003c00;
    color: #acacac;
}

/*
.table_search{
    margin-top: 10px;
    background-color: #878787;
    border: 0px solid white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.table_search:hover{
    background-color: #616161;
    color: #acacac;
}*/

.table_edit{
    margin-top: 10px;
    background-color: #d14a00;
    border: 0px solid white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}
.table_edit:hover{
    background-color: #953600;
    color: #acacac;
}

.table_head{
    background-color: #2a874f;
}

.table_head tr td {
    border: solid 1px #50b6c3;
}

.table_body{

}

.table_body tr td {
    border: solid 1px #50b6c3;
}


.table_row:nth-child(odd){
    background-color: #629584;
}
.table_row:nth-child(even){
    background-color: #4e7769;
}


.cell_id {
    width: 40px;
}

.cell_name {
    width: 350px;
}

.cell_quantity {
    width: 120px;
}

.cell_unitType {
    width: 100px;
}

.cell_price {
    width: 200px;
}

.cell_expirable {
    width: 20px;
}

.cell_edit{
    width: fit-content;
    background-color: #243642;
    border: 0px solid white;
    width: 40px;
}
